<footer>
  <div class="about">
    <div class="web-container">
      <div class="col">
        <h3>About us</h3>
        <p>
          We operate the first operating system dedicated to smart building. A single shared platform for all stakeholders, services and equipment. Helping you harness your data and adding value to your services at marginal cost.
        </p>
        <p>
          <a href="mailto:contact@intent-technologies.eu">contact@intent-technologies.eu</a>
        </p>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="web-container">
      © 2014 All Rights Reserved | Intent Technologies
    </div>
  </div>
</footer>