<footer>
  <div class="about">
    <div class="web-container">
      <div class="col">
        <h3>À propos</h3>
        <p>
          Nous opérons le premier système d’exploitation du bâtiment connecté. Une plateforme unique et partagée entre tous les acteurs, services et équipements. Pour vous aider à maîtriser vos données et distribuer vos services à coûts maîtrisés.
        </p>
        <p>
          <a href="mailto:contact@intent-technologies.eu">contact@intent-technologies.eu</a>
        </p>
        <p>
          <a href="tel:+33972309151">+33 9 72 30 91 51</a>
        </p>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="web-container">
      © 2014 All Rights Reserved | Intent Technologies
    </div>
  </div>
</footer>