<header>
  <div class="web-container">
    <div class="logo">
      <a href="/doc">
        <img src="/images/logo.png" alt="Intent Technologies" title="Intent Technologies" />
      </a>
    </div>

    <nav>
      <a href="/doc" {{#if navDoc}}class="current"{{/if}}>Documentation</a>
      <a href="/api-ref" {{#if navApi}}class="current"{{/if}}>API Reference</a>
    </nav>
  </div>
</header>