<section class="web-container">
  <article>
    <header>
      <h1>Authentatication</h1>
      <p>Know how our OAuth 2 works and how to implement it.</p>
    </header>
    <section>
      <h2>Getting started</h2>
      <p>Lorem ipsum dolor sit amet, <a href="#">a link to somewhere</a> consectetur adipiscing elit. Pellentesque at libero ex. Aliquam est latum <code>a code inline block</code> egestas tempus posuere. Proin volutpat tellus et est congue, et pretium nibh mollis. Cum <b>a bold sentence here</b> sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam ornare, orci at elementum euismod, metus ante imperdiet dui, suscipit luctus lectus erat eu erat. Sed tincidunt orci ut faucibus lobortis. Vestibulum hendrerit fringilla porttitor. Integer tincidunt tristique libero. Nam dapibus a massa eget sollicitudin.</p>
      <img src="/images/doc-auth/main.png" alt="Main" title="Main" />
      <p>Fusce et velit neque. Sed non sem ultricies, ultricies tellus nec, suscipit justo. Maecenas rhoncus, lectus non ultricies semper, nisi neque placerat erat, at consectetur ante purus in mi. Suspendisse auctor eu lorem vel dapibus. Sed non sodales ligula. Nunc sit amet nulla finibus, rutrum ligula nec, scelerisque justo. Integer eget porta ipsum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus purus erat, eleifend vitae imperdiet non, accumsan id odio</p>

      <hr/>

      <p>Fusce et velit neque. Sed non sem ultricies, ultricies tellus nec, suscipit justo. Maecenas rhoncus, lectus non ultricies semper, nisi neque placerat erat, at consectetur ante purus in mi. Suspendisse auctor eu lorem vel dapibus. Sed non sodales ligula. Nunc sit amet nulla finibus, rutrum ligula nec, scelerisque justo. Integer eget porta ipsum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus purus erat, eleifend vitae imperdiet non, accumsan id odio</p>
    </section>
  </article>
</section>