<div class="web-container">
  <article>
    <header>
      <h1>Documentation</h1>
      <p>Navigation into our documenatation</p>
    </header>
    <section class="home">
      <div class="col">
        <h2>Basics</h2>
        <ul>
          <li class="title">Everything you need to understand the solution</li>
          <li class="row"><a href="#">Environment</a></li>
          <li class="row"><a href="/doc/auth">Authentication</a></li>
          <li class="row"><a href="#">Settings</a></li>
        </ul>
      </div>

      <div class="col">
        <h2>Getting started</h2>
        <ul>
          <li class="title">Start to learn how to use our product everywhere</li>
          <li class="row"><a href="#">Lorem ipsum</a></li>
          <li class="row"><a href="#">Dolor sit</a></li>
          <li class="row"><a href="#">Amet en</a></li>
        </ul>
      </div>

      <div class="col">
        <h2>Other things</h2>
        <ul>
          <li class="title">Tips & tricks to go further and share apps</li>
          <li class="row"><a href="#">Github</a></li>
          <li class="row"><a href="#">Community</a></li>
          <li class="row"><a href="#">Lalilalou</a></li>
        </ul>
      </div>
    </section>
  </article>
</div>